* {
    font-family: 'Raleway', sans-serif;
    color: #232323;
    margin: 0;
}




body {
    margin: 0;
}

.container {
    margin: 0 30px;
}

.header {
    margin-bottom: 50px;
    height: fit-content;
}

.page_title {
    height: fit-content;
}

.filters {
    height: fit-content;


}

.main {
    height: fit-content;

}

.search_city {
    height: fit-content;
}


/* header */

/* logo */

.logo {
    padding-top: 50px;
    height: 50px;
}

/* navigation */

.box {
    height: 100px ;
    width: 162px ;
    border: 2px solid #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

a {
/* float: right; */
/* font-size: 15px; */
 text-decoration: none; 
 /* display: flex;  */
 /* transition: none; */

}


::placeholder { 
    color: black;
    opacity: 1;
  }

.box:hover {
    height: 100px ;
    width: 162px ;
    border: 2px solid #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.nav {
    width: fit-content;
    float: right;
    display: flex;
}

/* button inscription */

.inscription-btn{
    float: right;
    padding-top: 45px;
    color:#0065FC;
    width: fit-content;
}

/* nav  */



ul {
    list-style: none;
}



.page_title {
    margin-bottom: 20px;
}

/* barre de recherche */

.search_city {
    margin-bottom: 30px;
}

.search-bar {
    display: flex;
    flex-direction: row;
}

.grey-button {
    width: 51px;
    height: 51px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}

.bar {
    border-left: none;
    border-right: none;

}


.nav__btn {
    background-color:#0065FC;
    border-radius: 0px 10px 10px 0px;
    height: 51px;
    width: 135px;
    color: white;
    border: none;
    font-size: 15px;
}

.nav__btn_phone {
    visibility: hidden;
}

/* filtres */
.filters {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.filters-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container__filtres-col {
    display: flex;
    flex-wrap: wrap;
    padding-top:  32px;
    padding-bottom: 41px;

}


.filterbtn {
    padding-left: 24px;
    padding-top: 13px;
}

.filtres__conteneur:hover {
    background-color:  #0065FC ;
}

.container__text-col {
    padding-right: 0px;
    display: flex;
    flex-direction: row;

}


.filtres__conteneur {
    border-radius: 20px 20px 20px 20px;
    border: 1px solid rgb(175 175 175);
    background: white;
    height: 40px;
    font-size: 15px;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fa-heart, .fa-dog, .fa-money-bill-wave, .fa-child {
    color:#0065FC;
}


.element {

    background-color: rgb(235, 234, 234);;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
    color: #0065FC;
    background-color:  #DEEBFF;

}

.button__type-filter {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 15px;

}

.fa-info-circle {

    background-color: #0065FC;
    border-radius: 50%;
    color: white;
    border: 3px rgb(184, 184, 184);

}

.filters {
    margin-bottom: 40px;
}

.main {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

/* hébergement  */

.hebergements {
    width: 70%;
    height: 628px;
    background-color:  #F2F2F2;
    border-radius: 10px;
}


.inside {
    height: auto;
    width: 800px;
    margin:  0 auto;
    margin-top: 47px;

    }

.afficher {
    margin-top: 45px;
    }

.inside-inside {
    display: grid;
    grid-template-columns: repeat(3, 31%);
    grid-gap: 29px;
    margin: 0 auto;
    width: 800px;
    }

    .card {
        width: 246px;
        height: 200px;
        background-color: white;
        border-radius: 15px;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        padding-top: 11px;
        padding-left: 17px;


    }



.card-img-top {
    width: 96%;
    height: 114px;
    margin: 5px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}



    .fa-star {
        color: #0065FC;
    }

    .fa-star--grey {
        color:  rgb(235, 234, 234);
    }


    .container__main-title {
         margin-bottom: 23px;

        }




    .container__main link {
        padding-bottom: none;
        padding-left: 40px;
    }


/* populaire */

.populaires {
    margin-left: 40px;
    width: 29%;
    height: 628px;
    border-radius: 15px;
    background-color: #F2F2F2;
}


.aside {
    width: 424px;
    height: 628px;
    background-color: rgb(235, 234, 234);
    border-radius: 10px;
    margin-left: 40px;
}

.card-img-aside {
    width: 127px;
    height: 135px;
    margin: 5px;
    border-radius: 10px 0 0 10px;
}

.aside__top{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
margin: 49px auto 26px auto;

}

.fa-chart-line {
    /* padding-right: 40px; */
    display: flex;
    width: 22px;
    height: 18px;
}


.aside_cards {
    display: flex;
    align-items: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 26px;
}

.aside__card {
    background-color: white;
    width: 100%;
    height: 145px;
    border-radius: 8%;
    margin-bottom: 32px;
    display:  flex;
}

.card-img-aside {
    width: 127px;
    height: 135px;
    margin: 5px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.aside__cards-group{

    margin: 0 auto;
    margin: auto 38px;
}

.aside__card-body {
    width: 225px;
    padding-top: 19px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: fit-content;
    display: flex;
    padding-left: 21px;
}

#card-img-aside3 {
    width: 54%;
}

/* activités */

.activites {
    width: 100%;
    margin-top: 109px;
    height: fit-content;

}



.activities-section {
    padding-top: 0;
    width: 100%;
    margin: 0 auto;

}

.activities-section__grid {
height: auto;
display: flex;
grid-gap: 41px;
width: 100%;
}


#title3 {
  padding-bottom: 28px;
}


.grid-item {
    height: 447px;
    background-color: rgb(235, 234, 234);
    margin-left: 0;
    border-radius: 2.5% 2.5% 6% 6%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:  100%;
}

.card-img-activités {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card-activity-title {
  width: 100%;
  height: 56px;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.inner {
    padding-left: 19px;
    padding-top: 23px;
}


/* GRID COLUMN 2/4 */

.grid-itemdivided {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divided_img {
    width: 302px;
    background-color: rgb(235, 234, 234);
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
}


.div-1 {
    width: 303px;
    height: 239px;
    display:  flex;
    flex-direction: column;
}

.div-2 {
    width: 303px;
    height: 166px;
    display: flex;
    flex-direction: column;
}

.div-3 {
    width: 303px;
    display: flex;
    flex-direction: column;
    height: 198px;
}

.div-4 {
    width: 303px;
    height: 212px;
    display: flex;
    flex-direction: column;
}



/* GRID COLUMN 4/4 */

.divided--1-3 {

    height: 200px;


}


/* IMAGES */


#card-img-activités1 {
    height: 447px;
}

#card-img-activités2 {
    height: 181px ;
}

#card-img-activités3 {
    height: 110px;
}


#card-img-activités4 {
    height: 140px;
}

#card-img-activités5 {
    height: 153px;
}



/* footer */


footer {
    background-color: rgb(219, 219, 219);
    /* position: absolute; */
    left: 0;
    margin-top: 62px;
    bottom: 0;
    height: fit-content;
    width: 100%;
    overflow: hidden;
}

.footer-content {
    margin-top: 55px;
    margin-bottom: 50px;
    width: 100%;
    padding-left: 66px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;
}

.list {
    list-style: none;
    padding-left: 0;
}

.blo {
    display: flex;
    flex-direction: column;
    text-align: left;
}






@media (max-width: 1204px){




    header {
        margin-left: 10px;
        height: auto;
    }

    #link-top {
        padding-top: 51px;
    }

    #inscription-btn {
        padding-top: 50px;
        margin-right: 30px;
    }

    .nav {
        float: left;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }



    .item1 {
        margin: 0 auto;
    }

    .item2 {
        margin: 0 auto;
    }

    .box {
        height: 42px ;
        width: 100%;
        border-top: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid lightgrey;
        transition: none;
     }


    .box:hover {
        height: 42px ;
        width: 100% ;
        border-top: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #0065FC;
        transition: none;
    }


.nav__btn_phone {
    visibility: hidden;
}



.main {
    display:  flex;
    flex-direction: column;
    height: fit-content;

}

.hebergements {
    order: 1;
    width: 100%;
    margin-top: 85px;
    margin-left: 0;
    height: fit-content;
}

    .populaires {
        order: 0;
        width: auto;
        margin-left: 0;
        height: fit-content;
    }

.activities-section__grid {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }

    .filterbtn {
        padding-top: 20px;
        padding-right: 24px;
        padding-left: 0;
    }


    .filters-box {
        flex-direction: column;
        align-items: flex-start;
    }


    .grey-description {
        padding-top: 0px;
    }

    .container__filtres-col {
    height:  fit-content;
    padding-top: 5px;
    }

    .aside__top {
        width: 211px;
    }

    .aside {
        order: 1;
        width:  100%;
        height: fit-content;
        margin-left: 0;
        margin-top: 10px;
    }

    .aside__cards-group {
        width: 90%;
        margin: 0 auto;
        display: flex;
        margin-bottom: 29px;
        justify-content: space-between;
        flex-direction: column;
    }

    .aside__card-body {
        padding-left: 11px;
        padding-top: 5px;
    }

    .card-img-aside {
        width: auto;
        border-radius: 10px 10px 0 0;
    }
    .aside__card {
    width: 30%;
    margin: 0;
    height: 218px;
    display:  flex;
    flex-direction: column;
    }

    #card-img-aside3 {
        width: auto;
    }

    .card-img-top {
        width: 97%;
        margin: 5px;
    }

    .container__main {
        order: 0;
        height: auto;
    }

    .inside {
        width: auto;
    }

    .inside-inside {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;

    }

    .grid-item {
         height: 420px;
         margin-bottom: 20px;
         width: 347px;
    }

    .card {
    width: 100%;
    height: 210px;
    }


    .div-1 {
       height: 200px;
       width: 347px;
    }

    .div-2 {
        height: 166px;
        width: 347px;
    }

    .div-3 {
        height: 200px;
        width:  347px;
    }

    .div-4 {
        height: 200px;
        width: 347px;
    }

    .card-activity-title {
         width: 347px;
    }

    .card-img-activités {
        width: 347px;
    }

    .divided_img {
        width: 347px;
    }


    #title3 {
        margin-left: 21px;
    }


    .footer-content {
        padding-left: 10px;
        justify-content: space-around;
    }

    .blo {
    }




}












@media (max-width: 560px) {



    .box:hover {
        height: 42px ;
        width: 50% ;

        display: flex;
        justify-content: center;
        border-top: none;
        align-items: center;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #0065FC;
        transition: none;
    }

    a:hover {
     border-top-style: none;
    }


    .page_title {
        height: fit-content;
    }

    .search_city {
        height: fit-content;
    }


    .nav__btn_phone {
        height: 52px;
        width: 52px;
        visibility: visible;
        background-color: #0065FC;
        color: white;
        border-radius: 10px;
        border: none;
    }







@media (max-width: 560px) {

    body {
        width: fit-content;
    }

    .header {
        height: 149px;
        }

    .nav {
        float: left;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }



    .item1 {
        margin: 0 auto;
    }

    .item2 {
        margin: 0 auto;
    }

    .box {
        height: 42px ;
        width: 100%;
        border-top: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid lightgrey;
        transition: none;
     }


    .box:hover {
        height: 42px ;
        width: 100% ;
        border-top: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #0065FC;
        transition: none;
    }


    .main {
        display: flex;
        flex-direction: column;
    }

    body {
        background-color:white;
         width: auto;

        }


        .page_title {
            height: fit-content;
        }

    .logo {
        order: 0;
        padding-top:  30px;
        margin-bottom: 22px;
    }


    .search_city {
        height: fit-content;
    }


    #link-top {
        order: 2;
        width: 100%;
        padding-top: 0;
        text-align: center;
        /* display: flex; */
        /* justify-content: center; */
    }

    .maintitle {
        margin-top: 35px;
    }

    #inscription-btn {
        order: 1;
        float: right;
        padding-top: 43px;
        padding-right: 22px;
    }

    .nav__btn {
    display:  none;
    }

    .nav__btn--disabled {
        height: 52px;
        width: 50px;
    }

    .nav__btn_phone {
        height: 52px;
        width: 52px;
        visibility: visible;
        background-color: #0065FC;
        color: white;
        border-radius: 10px;
        border: none;
    }

    .container__filtres-col {
        padding-top: 5px;
        padding-bottom: 0;
    }






    .filters-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .filters {
        height: fit-content;
    }



    .grey-description {
        padding-top: 28px;
        margin-bottom: 0;
    }



    .filterbtn {
        padding: 0;
        padding-top: 13px;
        margin-right: 11px;
    }

    .main {
        display: flex;
        flex-direction: column;

    }

    .card-img-aside {
      width: 97%;

    }

    .card-img-activités {
        height: 133px;
    }

    #card-img-activités1 {
        height: 133px;
    }

    #card-img-activités2 {
        height: 133px;
    }

    #card-img-activités3 {
        height: 133px;
    }

    #card-img-activités4 {
      height: 133px;
    }

    #card-img-activités5 #{
        height: 133px !important;
    }

    .aside__card {
        width: 102%;
        border-radius: 10px;
    }

    .inside {
        width: auto;
    }
    .aside {
        order: 0;
        margin:  0;
        height:  800px;
    }

    .container__main {
        background-color: white;
        order: 1;
    }



    .inside-inside {
        display: flex;
        flex-direction: column;
    }

    .activities-section {
        padding-top: 20px;
    }

    .card-img-activités {
        width: 335px;
        height: 133px;
        dius: 10px 10px 0 0;
    }

    .div-1 {
        margin-bottom: 22px !important;
    }

    .activities-section__grid{
        flex-direction: column;
        display: grid;
        grid-gap: 22px;
    }

    .grid-item {
        height: 190px;
        width: 334px;
        margin-bottom: 0;

    }

    .aside__cards-group {
        gap: 11px;
        display: grid;
        margin: 0 auto;
    }

    .card {
      width: 100%;
      margin-bottom: 11px;
    }

    .card-activity-title {
        width: 334px;
        height: 58px;
        background-color:  red;
    }

    .div-3 {
        margin-bottom: 22px;
    }
    .divided_img {
        width: 335px;
    }

    .footer-content {
    flex-direction: column;
    margin: 0 auto;
    padding-left: 28px;
    }

    footer {
        height: fit-content !important;
    }



    .blo {
    line-height: 2em;
    }

    .footer-title {
    margin-top: 50px;
    }


    .populaires {
        order: 0;
        width: 100%;
        margin-left: 0;
    }

    .hebergements {
        order: 1;
        width: 100%;
        margin-left: 0;
    }

    .nav__btn {
        display: none;
    }


}

















@media (min-width: 1440px) {
    .main {
        flex-direction: row;
    }

    .activities-section {
        width: 100%
    }

}




